@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');

:root {
    --primary-color: #29357D;
    --secondary-color: #F6911C;
    --accent-color: #F26D3C;
    --accent2-color: #54918E;
    
    --nav-font: Noto Sans, sans-serif;
    --heading-font: Julius Sans One, sans-serif;
    --subheading-font: Archivo, sans-serif;
    --paragraph-font: Rubik, sans-serif;
    --paragraph-color: #000; 
}
  
body{
    font-family: var(--paragraph-font);
    font-size: 14px;
}

/*---------------------------------EVENT ADVERTISEMENT MESSAGE-----------------------------------------*/
#message {
    display: none;
    text-align: center;
    background-color: var(--accent-color);
    padding: 0.5rem;
}

/*-------------------------------------------------HEADER-----------------------------------------------*/
header {
	background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-template-rows: auto auto auto;
    margin-bottom: 10px;
    color: white;
    padding: .2rem;
}

header div.logo {
    grid-column:1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 5px;
    align-items: center;
}

picture.logo1 img {
    grid-column: 1/2;
    grid-row: 1/2;
	max-width: 100%;
    padding: 15px 0 0 12px;
}

#chamber-name1 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 13px;
    margin-left: 12px;
    font-family: var(--heading-font);
}

#chamber-name1 h1 {
    font-size: 15px;
    margin-bottom: 5px;
}

#chamber-name1 p {
    font-size: 10px;
    font-family: var(--paragraph-font);
    margin-top: 1px;
}

.social-icons {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-content: center;
} 

.social-icons a img {width:85%;}

#Btn {
    background-color: transparent;
    border: none;
    color: white;
    height: 30%;
    margin-top: 25px;
}

nav {
    background-color: var(--primary-color);
    grid-column: span 3;
}

nav ul {
    display: none;
    list-style-type: none;
    text-align: center;
    line-height: 2rem;
    font-family: var(--nav-font);
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    border: 1.5px solid var(--accent-color);
}

nav ul li a:hover {background-color: var(--accent-color);}

nav ul.open{
    display: block;
    padding: 0;
    max-width: 100%;
    margin: 8px 8px 8px 8px;
}

#Btn span:nth-child(1) {
    display: block;
    font-size: 1.75rem;
}

#Btn span:nth-child(2) { display: none;} 

#Btn.open span:nth-child(1) { display: none;}

#Btn.open span:nth-child(2) { display: block;} 

#currentDate {
    grid-row: 3/4;
    text-align: center;
    grid-column: span 4;
    background-color: var(--accent2-color);
    font-family: var(--paragraph-font);
    font-size: .95rem;
    font-weight: bold;
    margin: .5rem;
    padding: .5rem;
    height: fit-content;
    text-shadow: 0 0 5px var(--primary-color);
}

/*---------------------------------------------MAIN------------------------------------------------------*/
main *{ 
    background-color: var(--secondary-color);
}

main {
    margin-bottom: 1rem;
}

#hideSmall1, #hideSmall2 { display: none;}

/*---------------------------------------------FOOTER------------------------------------------------------*/

footer {
    display: block;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    font-family: var(--paragraph-font);
    margin-bottom: 0;
}

footer picture#logo2 img#resize {
    max-width: 25%;
    margin: 0 auto;
    padding: 12px 0 0 0;
}

footer .info1-text h3 {
    margin: 7px 0 0 0;
    font-size: 1rem;
    font-family: var(--heading-font);
}

footer .info1-text p {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 1rem;
}

footer .info2 {
    margin: 15px 0 0 0;  
}

footer .info2 a, footer .info3 a {
    text-decoration: none;
    color: white;
    line-height: 2.5rem;
}

footer hr { margin: 10px 10px 0 10px;}

footer .info3 {
    margin-top: 0;
    padding-bottom: 3px;
}

footer .info3 * {
    line-height: .3rem;
}

footer .info3 p:nth-child(2) {
    font-weight: bolder;
}
/*--------------------------------------------HOME PAGE-----------------------------------------------*/
/*------------------------------------Hero--------------------------------------------------------------*/
div.hero {
    position: relative;
    padding: 0;
    margin-bottom: 10px;
}

div.hero picture {
margin: 0;
padding: 0;
}

div.hero img {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

div.hero h1 {
    position: absolute;
    top: 0.1rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: var(--heading-font);
    font-size: 1.1rem;
    padding: .2rem;
    color: var(--primary-color);
    font-weight: bolder;
    text-shadow: 0 0 5px rgba(39, 22, 81, 0.5);
}

div.hero a {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--accent-color);
    text-decoration: none;
    text-shadow: .1rem .1rem .1rem var(--primary-color);
    border-radius: 13PX;
    padding: 1rem;
    color: white;
    font-family: var(--nav-font);
    font-size: 1rem;
    font-weight: bolder;
    box-shadow: .4rem 0 .8rem .4rem white;
    cursor: pointer;
}

div#medium-b {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 0;
}

/*-----------------------------------EVENT----------------------------------------*/
div.event, article {
    margin-bottom: 1rem;
    padding: .5rem;
    text-align: center;
    box-shadow: 0 0 15px 0px black;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

div.event h2,
article h2 {
    font-family: var(--subheading-font);
    color: white;
    padding: .6rem;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
    
}

div.event #emojis {
    font-size: 2rem;
    margin-bottom: .5rem;
    padding: 0;
    text-align: center;
    text-shadow: 0 0 .7rem rgb(245 247 249);  
}

div.event .date  {
    padding: 0;
    margin-bottom: .5rem;
    text-shadow: 0 0 0.1px black;
    font-weight: bolder;
}

.line {
    padding: 0;
    height: 1px;
    background-color: var(--accent-color);
    border: none;
}

div.event #more {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bolder;
    text-shadow: 0 0 1px rgb(249, 250, 251);
    padding: 0 0 20px 0;
    margin: 0;
}   

/*-------------------------------------------------WEATHER----------------------------------------------------*/
div.wContainer {
    width: 80%;
    box-shadow: 0 0 15px 0px black;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
    background-color: var(--accent-color);
}

div.wContainer h2 {
    color: var(--primary-color);
    font-weight: bolder;
    font-family: var(--heading-font);
    font-size: 1.3rem;
    text-shadow: .1rem 0 .2rem white;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: var(--accent-color);
}

div#wDisplay {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
}

p.wDay {
    grid-column: 1/2;
    grid-row: 1/2;
    text-shadow: 0 0 5px var(--primary-color);
    font-weight: bold;
}

div#wDisplay p.wDay {
    background-color: var(--accent2-color);
    color: white;
    font-size: 1.4rem;
    padding: .4rem;
    margin: 0;
}

.wForecast {
    grid-column: span 1;
    grid-row: 2/3;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 1rem;
    padding: .3rem;
}

.wLink {
    text-align: center;
    grid-column: span 1;
    font-size: .7rem;
    font-style: italic;
    font-weight: bold;
    color: var(--primary-color); 
}

.wLink a {
    text-decoration: none; 
    color: var(--primary-color); 
}

.graphic {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.wForecast figure {
    margin: 0;
    color: var(--primary-color);
    font-weight: bolder;
    font-family: var(--subheading-font);
}

.wForecast figure figcaption {
    font-size: .7rem;
}

.temperature {
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0 0 0;
    font-family: var(--subheading-font);
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

.temperature p {
    font-size: .9rem;
    font-family: var(--subheading-font);
    color: var(--primary-color);
    text-shadow: none;
}

.wForecast .moreDetails {
    grid-column: span 2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: 1rem 0 0 0;
    font-size: .8rem;
    align-items: center;
}

.wForecast .moreDetails .tempts span {
    font-size: .12px;
}

/*--------------------------------------------------NEWS---------------------------------*/
article p {
    padding: .7rem;
    letter-spacing: .1rem;
}

article.news h2 {
    margin-top: 2.5rem;
}

article.news a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}

/*--------------------------------------------------SPOTLIGHTS---------------------------------*/
div.spotlight {
    padding: 1rem;
    display: grid ;
    grid-template-columns: 1fr;
    row-gap: 1rem;
} 

div#spot1, div#spot2, div#hideSmall1{
    text-align: center;
    box-shadow: 0 0 15px 0px black;
}

div#spot1 h2, 
div#spot2 h2,
div#hideSmall1 h2,
.title {
    color: var(--primary-color);
    font-weight: bolder;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px white;
    margin: 0;
    border: none;
    text-align: center;
    padding: 20px 0 0 0;
}

div#spot1 img, div#spot2 img, div#hideSmall1 img {
    border-radius: 50%;
    border: none;
    padding: 10px 0 10px 0;
    margin: 0;
}

.cake-quote, .wasi-quote, .chocli-quote {
    font-size: 1.1rem;
    font-style: italic;
    margin: 0;
    font-weight: bold;
}

.links {padding-bottom: 10px;}

div#spot1 a, div#spot2 a, div#hideSmall1 a {
    text-decoration: none;
    font-size: 1rem;
    padding: .5rem 1rem 1rem 0;
    font-weight: bold;
    margin: 0 10px 0 0;
    color: var(--primary-color);
    line-height: 2rem;
}

/*----------------------Discover Page-------------------------*/
#user-visits {
    background-color: var(--accent-color);
    font-size: 25px;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bolder;
    border: 5px solid var(--accent2-color);
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    margin: 10px 0 15px 0;
}

div.hero-discover {
    background-color: white;
}

div.hero-discover img {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

div#hero-discover-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 15px 0px black;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

#hero-discover-box h1,
div.discover1 h2,
div.discover2 h2,
div.discover3 h2,
div.discover4 h2,
div.discover5 h2,
div#holidays h2 {
    font-family: var(--subheading-font);
    color: white;
    padding: 0.6rem;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

div#holidays #holidays-title {
    background-color: var(--primary-color);
    font-family: var(--subheading-font);
    color: white;
    padding: 0.6rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

#discover-grid {
    background-color: white;
}

div.discover1,
div.discover2, 
div.discover3,
div.discover4,
div.discover5 {
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 15px 0px black;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

div.discover5 {
    text-align: left;
}

.dicover5 ul, .level ul {list-style: none;}
  
.discover5 ul li::before, 
.level ul li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

table, tr td {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: var(--accent-color);
    box-shadow: 3px 3px 10px rgb(54 54 54);
    padding: 1rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 0 0 5px var(--primary-color);
}

td:nth-child(odd) {
    background-color: var(--accent2-color);
    color: white;
    font-weight: bold;
    width: 50%;
    border: 1px solid white;
    text-align: left;
}

.discover2 img, .discover3 img, .discover5 img {
    text-align: center;
    width: 100%;
    padding-top: 0;
}

.holiday {
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 0px black;
    padding: 1rem;
}

.discover6, #holidays {
    box-shadow: 0 0 15px 0px black;
    padding: 1rem 20px 5px 20px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

.discover6 .favorite, .discover6 .favorite span {
    background-color: var(--primary-color);
    font-family: var(--subheading-font);
    color: white;
    padding: 0.6rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

.discover6 .favorite span {
    font-size: 3rem;
}

.discover6 .gBox img, #holidays img {
    text-align: center;
    width: 90%;
    padding-top: 0.5rem;
    filter: blur(0em);
    transition: filter 0.5s;
}

.gBox {
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 0px black;
    padding: 1rem;
    background-color: white;
}

.gBox h2, .gBox p, .gBox img {
    background-color: white;
}

.gBox h2 {
    color: var(--primary-color);
    font-weight: bolder;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px var(--primary-color);
    margin: 0;
    border: none;
    text-align: center;
    padding: .5rem 0 .5rem 0;
}

.gBox p {
    font-style: italic;
}

/*------------------------------join page----------------------------*/
#join-main {
    background-color: var(--secondary-color);
    padding: 1rem;
}

div#join-title h2, h2#sml {
    font-family: var(--subheading-font);
    color: white;
    padding: 0;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

div#join-title p {
    margin-top: .2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
    border-bottom: 1px solid white;
    text-align: center;
}

#join-app {
    margin-top: .5rem ;
    padding-top: 2rem;
}

form {
    border-bottom: 2px dashed white;
    max-width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-bottom: .7rem;

}

form fieldset {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: .5rem 2%;
    background-color: white;
    margin-bottom: 1.5rem;
}

form legend {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--heading-font);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    margin: 0 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 14px;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

form label.top,
form fieldset:nth-child(3) div {
    display: block;
    padding-top: 1.7rem;
    background-color: white;
    color: var(--accent2-color);
    font-weight: bold;
    font-family: var(--nav-font);
    font-size: .95rem;
}

form fieldset:nth-child(3) div em,
form fieldset:nth-child(2) em {
    background-color: white;
    font-size: smaller;
}

form label.top abbr {
    background-color: white;
}

form label.top input, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    background-color: white;
    font-size: 1rem;
    border: 1px solid var(--accent2-color);
    border-radius: 4px;
    margin-top: 3px;
    padding: .65rem;
    background-color: aliceblue;
    color: var(--primary-color);
    width: 100%;
    max-width: 20rem;
    font-family: var(--nav-font);
    box-sizing: border-box;
}

form label.sbs {
    -webkit-appearance: none;
    display: block;
    padding: .6rem 0;
    background-color: white;
    color: var(--primary-color);
    font-family: var(--nav-font);
    font-size: .95rem;
}

input[type="radio"] {
    width: 20px;
	height: 20px;
	margin-right: .5rem;
}

form input.joinbtn {
    border: none;
    background-color: var(--accent-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-weight: bold;
    font-family: var(--heading-font);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--primary-color);
    box-shadow: 0.1rem 0 0.9rem 0.5rem white;
    cursor: pointer;
}

form label.top input:required {
    border-left: #c71f37 solid 6px;
}

form label.top input:required:valid {
    border-left: #09bc8a solid 6px;
}

h2#sml {
    margin-bottom: 1rem;
}

.level {
    box-shadow: 3px 3px 10px rgb(54 54 54);
    padding: 1rem;
    margin: 0 0 2rem 0;
}

#no {
    margin-bottom: 0;
}

.level ul {
    padding-left: 10%;
    margin-top: 1rem;
}

.level li {
    padding: 3px 3px;
    padding: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

.level h3 {
    background-color: var(--primary-color);
    font-family: var(--subheading-font);
    color: white;
    padding: 0.6rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

.level h4 {
    font-family: var(--subheading-font);
    color: white;
    padding: 0.6rem;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
    border-bottom: 1px solid white;
}

/*-------------------------Thank you page--------------------------------*/
#t-container {
    background-color: var(--secondary-color);
    padding: 1rem;
}

div#thanks {
    margin: 5% auto;
    max-width: 20rem;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 10px rgb(54 54 54);
    text-align: center;
    background-color: rgba(242, 109, 60, 0.8);
}

#thanks div#bt {
    border: dashed white 3px;
    background-color: rgba(242, 109, 60, 0.3);
    
}

#thanks h2 {
    color: white;
    font-size: 3rem;
    text-shadow: 3px 3px .5px rgb(13, 13, 13);
    margin: 7% auto 5% auto;
    background-color: transparent;
    padding: 1rem 2.55rem 0 2.55rem; 
}

#thanks p {
    font-size: 1.5rem;
    font-family: var(--nav-font);
    line-height: 2rem;
    padding: 0 13px 7% 13px;
    background-color: transparent;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: .1rem;
}

/*---------------------------DIRECTORY PAGE--------------------------*/

main#directory {
    background-color: var(--secondary-color);
    padding: 1rem;
}

#directory h2#directory-title {
    font-family: var(--subheading-font);
    color: white;
    padding: .5rem 0 1rem 0;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

#viewControls {
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;

}

#viewControls button {
    border: none;
    cursor: pointer;
}

#viewControls button img {
    max-width: 50%;
}

article#directory-article {
    box-shadow: none;
    margin-top: 1rem;
    margin-bottom: 0;
}

article#directory-article section {
    box-shadow: 0 0 15px 0px black;
    margin: .5rem;
}

article#directory-article section a {
    text-decoration: none;
    color: var(--primary-color);
}

main#directory article.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

main#directory article.grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#directory article.grid section br {
    display: none;
}

main#directory article.grid section,
main#directory article.list section {
    padding: 1rem;
}

main#directory article.grid section img {
    border-radius: 50%;
    max-width: 50%;
    margin: 1.5rem 0 .5rem 0;
}

main#directory article.grid section h2,
main#directory article.list section h2 {
    color: var(--primary-color);
    font-weight: bolder;
    font-family: var(--heading-font);
    font-size: 1rem;
    text-shadow: 2px 2px 2px white;
    margin: 0;
    border: none;
    text-align: center;
    padding: 20px 0 0 0;
}

main#directory article.grid section p,
main#directory article.list section p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

main#directory article.list {
    display: grid;
}
 
main#directory article.list section h2 {
    padding-top: 23px;
}

main#directory article.list section img {
    display: none;
}

/*--------------------------Contact page-----------------------------------*/
.hero-contact {
    position: relative;
    padding: 0;
}

.hero-contact img {
    width: 100%; 
}

.hero-contact h1 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-weight: bolder;
    font-family: var(--subheading-font);
    font-size: 2.35rem;
    text-align: center;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

div#contact-us {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
}

 div#contact-us h2, div#contact-us h3 {
    color: white;
    font-weight: bolder;
    font-family: var(--subheading-font);
    font-size: 2.3rem;
    text-align: center;
    text-shadow: 2px 3px 3px var(--accent-color), 0 0 5px var(--primary-color);
}

div#contact-us h2 {
    margin-bottom: 0;
}

div#contact-us h3 {
    font-size: 1rem;
    margin: .5rem 0 0 0;
}

#contact-form {
    margin: 1.5rem 0 0 0;
}

#contact-form form {
    border-bottom: none;
}

form#contact-app label.top textarea:required {
    border-left: #c71f37 solid 6px;
}

div#contact {
    text-align: center;
}
main#contact-main h2#contact-title {
    font-size: 1.2rem;
    font-style: italic;
    border-bottom: 1px solid white;
    padding-bottom: .5rem;
}

main#contact-main h2.headline {
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: .5rem 0 .5rem 0;
    margin: 4rem 0 .7rem 0;
}

div#contact p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-top: 0;
    padding: 0;
}

div#contact div.social-icons img {
    width: 30%;
}

div#contact a {
    text-decoration: none;
    color: var(--primary-color);
    line-height: 2.5rem;
    font-size: 1rem;
}
